<?xml version="1.0" ?>
<config>
    <modules>
        <Mygento_Currency>
            <version>1.0.0</version>
        </Mygento_Currency>
    </modules>
    <global>
        <helpers>
            <mycurrency>
                <class>Mygento_Currency_Helper</class>
            </mycurrency>
        </helpers>
        <models>
            <mycurrency>
                <class>Mygento_Currency_Model</class>
            </mycurrency>
        </models>
        <blocks>
            <mycurrency>
                <class>Mygento_Currency_Block</class>
            </mycurrency>
        </blocks>
        <currency>
            <import>
                <services>
                    <cbrf>
                        <name>CBRF</name>
                        <model>mycurrency/cbrf</model>
                    </cbrf>
                </services>
            </import>
        </currency>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <mycurrency>
                    <files>
                        <default>Mygento_Currency.csv</default>
                    </files>
                </mycurrency>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <mycurrency>
                    <files>
                        <default>Mygento_Currency.csv</default>
                    </files>
                </mycurrency>
            </modules>
        </translate>
    </frontend>
    <default>
        <currency>
            <cbrf>
                <timeout>100</timeout>
                <fee>0</fee>
            </cbrf>
        </currency> 
    </default>
</config>
